<!DOCTYPE html>
<html lang="en" ng-app="datacompario">
    <head>
        <meta charset="UTF-8">
        <title>DataCompario</title>
        <link rel="stylesheet" href="css/screen.css">
    </head>
    <body ng-controller="DataCompare as dataCompare">
        <div class="container">
            <h1>DataCompar<sub>e</sub>io</h1>

            <!--TODO add user sorting by clicking table headers-->
            <!--TODO add setting allowing user to pick how many rows to show-->

            <div class="leftData dataColumn">

            <textarea placeholder="Data goes in here" class="dataTextArea" name="leftDataTextArea"
                      id="leftDataTextArea" ng-model="dataCompare.leftDataText"
                      ng-change="dataCompare.rebuildLeftDataMatrix(dataCompare.leftDataText)"></textarea>


                <table class="dataTable"
                       ng-show="dataCompare.leftCompareMatrix.length > 0 || dataCompare.rightCompareMatrix.length > 0">
                    <thead>
                        <tr>
                            <th colspan="{{dataCompare.leftCompareMatrix[0].length}}">Rows that have different values
                            </th>
                        </tr>
                    </thead>
                    <tbody id="leftCompareBody">
                        <tr ng-repeat="leftCompareRow in dataCompare.leftCompareMatrix | orderBy:'0' | limitTo: dataCompare.mainTableRows"
                            ng-class="$index % 2 === 0 ? 'even' : 'odd'">
                            <td ng-repeat="leftCompareValue in leftCompareRow track by $index"
                                ng-class="dataCompare.getType(leftCompareValue)">{{leftCompareValue}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="{{dataCompare.leftCompareMatrix[0].length}}">Showing up to
                                {{dataCompare.mainTableRows}} out of {{dataCompare.leftCompareMatrix.length}} records.
                                <button class="clipboard" data-clipboard-action="copy"
                                        data-clipboard-target="#leftCompareBody">Copy them <em>all</em> to the clipboard
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>


                <table class="dataTable"
                       ng-show="dataCompare.leftMissingMatrix.length > 0 || dataCompare.rightMissingMatrix.length > 0">
                    <thead>
                        <tr>
                            <th colspan="{{dataCompare.leftMissingMatrix[0].length}}">Rows that are present in this
                                dataset,
                                but absent in the other
                            </th>
                        </tr>
                    </thead>
                    <tbody id="leftMissingBody">
                        <tr ng-repeat="leftMissingRow in dataCompare.leftMissingMatrix | orderBy:'0' | limitTo: dataCompare.mainTableRows"
                            ng-class="$index % 2 === 0 ? 'even' : 'odd'">
                            <td ng-repeat="leftMissingValue in leftMissingRow track by $index"
                                ng-class="dataCompare.getType(leftMissingValue)">{{leftMissingValue}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="{{dataCompare.leftMissingMatrix[0].length}}">Showing up to
                                {{dataCompare.mainTableRows}} out of {{dataCompare.leftMissingMatrix.length}} records
                                <button class="clipboard" data-clipboard-target="#leftMissingBody">Copy them
                                    <em>all</em> to the clipboard
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>


                <table ng-show="dataCompare.leftDataMatrix.length > 0"
                       class="leftDataTable dataTable">
                    <thead>
                        <tr>
                            <th colspan="{{dataCompare.leftDataMatrix[0].length}}"><h2>All the data</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="leftRow in dataCompare.leftDataMatrix | orderBy:'0' | limitTo: dataCompare.mainTableRows"
                            ng-class="$index % 2 === 0 ? 'even' : 'odd'">
                            <td ng-repeat="leftValue in leftRow track by $index"
                                ng-class="dataCompare.getType(leftValue)">
                                {{leftValue}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="{{dataCompare.leftDataMatrix[0].length}}">Showing up to
                                {{dataCompare.mainTableRows}} out of {{dataCompare.leftDataMatrix.length}} records
                            </th>
                        </tr>
                    </tfoot>
                </table>


            </div>

            <div class="rightData dataColumn">
                <textarea placeholder="Also here" class="dataTextArea" name="rightDataTextArea"
                          id="rightDataTextArea" ng-model="dataCompare.rightDataText"
                          ng-change="dataCompare.rebuildRightDataMatrix(dataCompare.rightDataText)"></textarea>

                <table class="dataTable"
                       ng-show="dataCompare.leftCompareMatrix.length > 0 || dataCompare.rightCompareMatrix.length > 0">
                    <thead>
                        <tr>
                            <th colspan="{{dataCompare.rightCompareMatrix[0].length}}">Rows that have different values
                            </th>
                        </tr>
                    </thead>
                    <tbody id="rightCompareBody">
                        <tr ng-repeat="rightCompareRow in dataCompare.rightCompareMatrix | orderBy:'0' | limitTo: dataCompare.mainTableRows"
                            ng-class="$index % 2 === 0 ? 'even' : 'odd'">
                            <td ng-repeat="rightCompareValue in rightCompareRow track by $index"
                                ng-class="dataCompare.getType(rightCompareValue)">{{rightCompareValue}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="{{dataCompare.rightCompareMatrix[0].length}}">Showing up to
                                {{dataCompare.mainTableRows}} out of {{dataCompare.rightCompareMatrix.length}} records
                                <button class="clipboard" data-clipboard-target="#rightCompareBody">Copy them
                                    <em>all</em> to the clipboard
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>

                <table class="dataTable"
                       ng-show="dataCompare.leftMissingMatrix.length > 0 || dataCompare.rightMissingMatrix.length > 0">
                    <thead>
                        <tr>
                            <th colspan="{{dataCompare.rightMissingMatrix[0].length}}">Rows that are present in this
                                dataset, but absent in the other
                            </th>
                        </tr>
                    </thead>
                    <tbody id="rightMissingBody">
                        <tr ng-repeat="rightMissingRow in dataCompare.rightMissingMatrix | orderBy:'0' | limitTo: dataCompare.mainTableRows"
                            ng-class="$index % 2 === 0 ? 'even' : 'odd'">
                            <td ng-repeat="rightMissingValue in rightMissingRow track by $index"
                                ng-class="dataCompare.getType(rightMissingValue)">{{rightMissingValue}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="{{dataCompare.rightMissingMatrix[0].length}}">Showing up to
                                {{dataCompare.mainTableRows}} out of {{dataCompare.rightMissingMatrix.length}} records
                                <button class="clipboard" data-clipboard-target="#rightMissingBody">Copy them
                                    <em>all</em> to the clipboard
                                </button>
                            </th>
                        </tr>
                    </tfoot>
                </table>

                <table ng-show="dataCompare.rightDataMatrix.length > 0"
                       class="rightDataTable dataTable">
                    <thead>
                        <tr>
                            <th colspan="{{dataCompare.rightDataMatrix[0].length}}"><h2>All the data</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rightRow in dataCompare.rightDataMatrix | orderBy:'0' | limitTo: dataCompare.mainTableRows"
                            ng-class="$index % 2 === 0 ? 'even' : 'odd'">
                            <td ng-repeat="rightValue in rightRow track by $index"
                                ng-class="dataCompare.getType(rightValue)">{{rightValue}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="{{dataCompare.rightDataMatrix[0].length}}">Showing up to
                                {{dataCompare.mainTableRows}} out of {{dataCompare.rightDataMatrix.length}} records
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
        <script src="js/app-min.js"></script>
    </body>
</html>