html, body{
  width: 100%;
  margin:0;
}

.container{
  width: 100%;
  margin: 0 auto;
  padding:0;
}

.dataColumn{
  width: 50%;
  margin: 0;

  .dataTextArea{
    margin: 0 auto;
    display: block;
    width: 98%;
    height:130px;
    resize: none;
  }

  table{
    width: 98%;
    margin: 0 auto;
  }
}

.dataColumn.leftData{
  float : left;
}

.dataColumn.rightData{
  float : right;
}