/** KEYS **/
$color-number-value: #181;
$color-boolean-value: #11e;
$color-string-value: #622;
$color-table-meta: #fff;
$color-universal-bg: #f6f6f6;

$color-even-rows: #eee;
$color-odd-rows: #ddd;

$border-table: 1px solid rgba(0,0,0,.2);
$border-different-cell-values : 2px solid red;